body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.title {
    font-size: 36px;
    text-align: center;
    background-color: black;
    color: #ffff;
}

.text {
    font-size: 20px;
    text-align: center;
}
.photo {
    border: 5px solid black; 
    background-color:cadetblue;
    
}



button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}
