
/* Default Desktop View */
.body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.title {
    font-size: 36px;
    text-align: center;
    background-color: black;
    color: #ffff;
}

.text {
    font-size: 20px;
    text-align: center;
}
.photo {
    border: 5px solid black; 
    background-color:cadetblue;
    
}



/* Mobile View (small screens) */
@media (max-width: 600px) {
    .title {
        font-size: 24px;
    }

    .text {
        font-size: 16px;
    }
}

/* Tablet View */
@media (min-width: 600px) and (max-width: 900px) {
    .title {
        font-size: 30px;
    }

    .text {
        font-size: 18px;
    }
}